*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
    background-color: black;
    margin-top: 60px;
}
.container
{
    max-width: 1200px;
    margin: auto;
}
.slide
{
	width: 100%;
	height: 450px;
	position: relative;
    margin: auto;
    overflow: hidden;
}
.slide .img5
{
	width: 100%;
	height: 100%;
}
.nev
{
	display: flex;
	justify-content: space-between;
	background: transparent;
	align-items: center;

}
.nev #_btn_left 
{
    z-index: 2;
    border:none;
    text-align: center;
    position: absolute;
    left:20px;
    background-color: transparent!important;
    color: white!important;
    font-family:'Times New Roman';
    cursor: pointer;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius:50%;

}
.nev #_btn_left:hover , .nev #_btn_right:hover 
{
    background-color: white!important;
    color: black!important;
    font-weight: bolder!important;
}

.nev #_btn_right 
{
	z-index: 2;
    border:none;
    text-align: center;
    position: absolute;
    right:20px;
    background-color: transparent!important;
    color:white!important;
    font-family:'Times New Roman';
    cursor: pointer;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 10px 15px;
    font-weight: bolder;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
}
.link_div
{
    max-width:100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
}
.link_div .img_small{
  cursor: pointer;
  object-fit: cover;
  height: 100%;
  width:10%;
  margin: 0;
  padding: 0;
  border:none;
/*  display: inline-block;*/
  transition: background-color 0.6s ease;
}

.dot:hover, .active 
{
    background-color: white;
    border: 1px solid white;
}



/*  Animation  */

._animation {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {margin-left:100%;}
  to {margin-left:0%;}
}

margin-left:100% ;